body{
	background: rgba(37, 36, 36, 0.884);
	color: white;
	/*background-image: url(image1.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;*
	background-position: 50px 50px;*/
	text-indent: 1.2em;
}

h1{
	color:red;
	text-align: center;
}
h2{
	color:yellow;
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	text-align: center;
}
h4{
	text-align: center;
}
li a{
	color:rgb(15, 223, 15);
	text-decoration: none;
}
a:hover{
	color: red;
	text-decoration: underline;
	text-align: center;
}

ul{
	list-style-type: circle;
}

.primer{
			width: 100%;
			background: white;
			padding: 5px;
			padding-right: 0px;
			border: solid 1px orange;
			float: center;
			border-radius: 15px;
			font-family: 'Mansalva', cursive;
			color: orangered;
			font-size: 150%;
			text-align: center;
		}

.letter{
	color:green;
	font-size: 200%;
	font-family:'Mansalva', cursive; /* Шрифт з засечками */
	position:relative;
	top: 5px;
}

.pruklad{
	font-family: 'Mansalva', cursive;
	color: #c9100a;
	font-size: 200%;
	text-align: center;
}


#first::first-letter{
	color:green;
	font-size: 200%;
	font-family:'Mansalva', cursive; /* Шрифт з засечками */
	position:relative;
	top: 5px;
}
#title{
	line-height:2;
	text-align: center;
	font-family: 'Turret Road', cursive;
}
